:root{
    --theme-primary : #009688;
    --theme-highlight : #ff9800;
    --theme-secondary : #111;
    --theme-body-bg : #fbfbfd;
    --theme-gray-ccc : #ccc;
    --theme-gray-555 : #555;
    --theme-white : #fff;

                                /* Font Variables */
    --title-font : 'Oswald', sans-serif;


                                /* Shadow Level */
    --shadow-one : 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
    --shadow-two : 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}