.mapLayerModal {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    z-index: 1;

    &.open {
        display: block;
    }

    .mapTransitionLayer {
        width: 95vw;
        height: 90vh;
        margin: 5vh auto;
        flex: 1;
        background-color: var(--theme-white);
        box-shadow: var(--shadow-one);
        opacity: 0;
        transform: scale(.8);
        transition: .4s width, .4s height, 1s opacity 1s transform;
        position: relative;

        .closeIcon {
            position: absolute;
            top: -30px;
            right: -30px;
            font-size: 2rem;
            cursor: pointer;
            color: var(--theme-primary);
        }

        &.active {
            opacity: 1;
            transform: scale(1);
        }
    }
}